@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background: hsl(235, 18%, 26%);
    font-size: 16px;
    height: 100vh;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 760px;
    height: 500px;
    background-color: white;
    display: flex;
    border-radius: 20px;
}

.contenido {
    width: 350px;
    padding: 25px;
}

.contenido h1 {
    font-family: 'Roboto';
    font-size: 40px;
    color: hsl(234, 29%, 20%);
    margin-top: 70px;
    margin-left: 10px;
}

.imagen {
    background-image:url(./newsletter-sign-up-with-success-message-main/assets/images/illustration-sign-up-desktop.svg);
    object-fit: cover;
    width: 325px;
    height: 480px;
    margin: auto;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenido p {
    font-size: 16px;
    margin-left: 8px;
    line-height: 20px;
}

.contenido div {
    font-size: 16px;
    margin-left: 8px;
    line-height: 32px;
}

.email {
    font-family: 'Roboto';
    font-size: 13px;
    line-height: 25px;
}

.email input {
    opacity: 0.4;
    width: 350px;
    height: 45px;
    border-radius: 8px;
    border-width: 1px;
    text-indent: 16px;
    border-color: hsl(235, 7%, 60%);
}

.boton {
    width: 350px;
    height: 48px;
    border-radius: 8px;
    background-color: hsl(234, 29%, 20%);
    color: white;
    font-family: 'Roboto';
    margin-top: 15px;
    justify-content: center;
}