@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600;700&display=swap');

@import url(./modules/hero.css);
@import url(./modules/header.css);
@import url(./modules/skills.css);
@import url(./modules/portfolio.css);
@import url(./modules/proyects.css);
@import url(./modules/footer.css);

:root {

    /* colors */

    --primary-theme-dark-yellow: #FFB742;
    --primary-theme-dark-dark1: #393646;
    --primary-theme-dark-dark2: #4F4557;
    --primary-theme-dark-dark3: #6d6078;
    --primary-theme-dark-white: #FFF;

    --neutral-white: #FFF;
    
    /* fonts */

    --font-primary: 'Poppins', sans-serif;
    --font-size: 16px;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}


* {
    box-sizing: border-box;
    margin: 0;
}
  
html {
    font-size: var(--font-size);
}

body {
    background-color: var(--primary-theme-dark-dark2);
    color: var(--neutral-white);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}